ion-content{
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
}
ion-item{
    --padding-bottom: 10px;
}

.reestablecerContrasena {
    font-size: .6rem;
}

.title {
    font-size: 1.3rem;
    color: #a9a9a9;
    background-color: #410041;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}