<ion-header>
  <ion-toolbar>
    <ion-title>Registr<span>App</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title class="headerCard">Asignaturas</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-list>

        <ion-item *ngFor="let c of courses" class="container">

          <div class="grid">
            <div class="labels" >
              <ion-label class="labelItem">Asignatura: {{c.name}}</ion-label>
              <ion-label class="labelItem">Asistencia: {{c.assists}}</ion-label>
            </div>
            <div class="buttons" >
              <ion-button (click)="edit(c)">
                <ion-icon name="pencil"></ion-icon>
              </ion-button>
              <ion-button (click)="delete(c)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-item>

      </ion-list>

      <!-- <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Asignatura 1</ion-label>
          <ion-label slot="end">2</ion-label>
        </ion-item> -->
    </ion-card-content>
  </ion-card>
  
  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/tabs/add-assists']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  
</ion-content>