<!-- Comienza el Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrApp
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content [fullscreen]="true">  
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1 class="title">Bienvenido <br> {{user.usuario}}</h1>
    </ion-label>
  </ion-title>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingrese la clase a tomar asistencia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" class="ion-padding-bottom">Clase</ion-label>
        <ion-select placeholder="Seleccione clase" [(ngModel)]="data.seccion">
          <ion-select-option *ngFor="let cla of clases" [value]="cla.seccion">{{cla.asignatura}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-button (click)="mostrarHorario()">
          Ver Horario
        </ion-button>
      </ion-item>

      
    </ion-card-content>
  </ion-card>

  <!-- <ion-datetime-button class="datetime" datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content> -->
<!-- Termina el Content -->
