<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title class="title">Reestablecer <br> Contraseña</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Usuario</ion-label>
        <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->
        <ion-input type="text" minlength="3" maxlength="8" [(ngModel)]="user"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <!-- Indicamos mediante el (click) la funcion a quien referenciara-->
          <ion-button expand="full" (click)="mostrarMensaje()" >Recuperar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
</ion-content>
